if TARGET_MX4_VF

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "mx4_vf"

config SYS_VENDOR
	default "hostmobility"

config SYS_SOC
	default "vf610"

config SYS_CONFIG_NAME
	default "mx4_vf"

endif
